* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

@media (max-width: 1980px) {
    .wrapper {
        max-width: 1980px;
    }
}

@media (max-width: 1024px) {
    .wrapper {
        max-width: 1024px;
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container_header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #EDECF6;
}

.header {
    width: 75%;
    display: grid;
    grid-template-columns: 60px 1fr 200px;
    align-items: center;

}

.header_logoSection {
    border: 1px solid #6e6d87;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 65px;
}

.logo {

}

.header_menu {
    width: 627px;
    margin-left: 55px;
}

.menu_item {
    text-decoration: none;
    padding: 15px 25px;
}

.menu_item:hover {
    background: rgba(81, 80, 118, 0.1);
    border-radius: 3px;
}

.item_link {
    color: #515076;
}

.header_card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20%;
}

.card {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ffffff;
    width: 60px;
    height: 60px;
    position: relative;
}

.card_circle {
    position: absolute;
    top: -2px;
    right: -2px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #757AA5;
}
.card_circle_counter {
    color: #ffffff;
    font-weight: 500;
}

.card_contacts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contacts_link {
    text-decoration: none;
    color: #515076;
    padding: 10px;
}

.wrapper_content {
    width: 75%;
}

.content_home {

}

.home_imgSeed {
    position: absolute;
    right: -100px;
    top: 0;
    z-index: -10;
}

.home_imgEucalyptus {
    position: absolute;
    left: 0;
    top: 710px;
    z-index: -10;
}

.home_header {
    font-family: Playfair Display;
    font-size: 230px;
    color: #515076;
    line-height: 213px;
}

.home_content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content_block1 {
    margin-top: 88px;
    display: grid;
    grid-template-rows: 1000px 1fr;
}
.content_block2 {
    margin-left: 108px;
    margin-top: 54px;
    display: grid;
    grid-template-rows: 114px 176px 186px 186px 163px;

}
.content_block3 {
    margin-left: 102px;

    display: grid;
    grid-template-rows: 642px 220px;
}

.infoBlock_star {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
}

.infoBlock_symbolStar {
    font-family: Work Sans, sans-serif;
    font-weight: 300;
    font-size: 36px;
    line-height: 66px;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
}

.infoBlock_blockUnderStar {
    font-family: Work Sans, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 29px;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #888794;
    width: 172px;
}

.infoBlock_infoBlock5 {
    font-weight: 300;
    font-size: 36px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.home_subHeader {
    font-size: 36px;
    line-height: 48px;
    color: #63678C;
}

.infoBlock_block {
    font-size: 18px;
    line-height: 31px;
    color: #888794;
}

.infoBlock_diamaint {
    font-weight: 500;
    font-size: 18px;
    line-height: 31px;
    color: #828282;
}

.diamaint {
    font-weight: 600;
    color: #757AA5;
}

.home_btnWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnWrapper_btn {
    background: #515076;
    border-radius: 100px;
    outline: none;
    border: none;
    padding: 27px 35px 27px 35px;

}

.btn_inner {
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.32em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.9;
}

.infoBlock3 {
    padding-top: 40px;
}

.home_imgBerries {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, 0) 60%),
    url("./img/bgs/berries.png") no-repeat;
    width: 100%;
    height: 150%;
    position: absolute;
    top: 800px;
    right: -400px;
    z-index: -10;
}

.products_imgSeeds_group {
    position: absolute;
    z-index: -10;
    left: 0;
}

.products {
    margin-top: 200px;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr;
}

.products_header {
    font-weight: 200;
    font-size: 70px;
    line-height: 77px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #757AA5;
}

.products_examples {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-self: center;
    align-items: self-end;
    margin-top: 80px;
}

.example {
    background: #F7F7FA;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 62px 20px;
}

.ex_wrapper {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.examples_ex1 {
    height: 520px;
    width: 330px;
}
.examples_ex2 {
    height: 600px;
    width: 380px;

}
.examples_ex3 {
    height: 520px;
    width: 330px;
}

.description_skinType {
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
    color: #A5A3B9;
}

.description_header {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #515076;
}

.description_payment {
    display: flex;
    justify-content: space-between;
}

.payment_price {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #515076;
}

.price_prev {
    text-decoration: line-through;
    font-size: 16px;
    color: #6e6d87;
    margin-right: 10px

}

.ex_description {
    display: grid;
    width: 100%;
    grid-template-rows: 30px 150px 50px;
}

.content_sales {
    margin-top: 180px;
}

.sales_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.header_main {
    font-weight: 200;
    font-size: 70px;
    line-height: 77px;
    display: flex;
    align-items: center;
    color: #757AA5;
}

.header_sub {
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    width: 333px;
    color: #888794;
    margin-top: 100px;
}

.header_slider {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.slider_btn {
    margin-top: 50px;

    border: 1px solid #888794;
    box-sizing: border-box;
    border-radius: 50%;
    width: 73px;
    height: 73px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider_next {
    transform: rotate(180deg);
    margin-left: 20px;
}

.slider_prev {
    opacity: .5;
}

.sales_imgVetka {
    position: absolute;
    left: 0;
    top: 2800px;
}

.sales_wrapperSlider {
    width: 810px;
    background: #F7F7FA;
    box-shadow: -40px 40px 0px #515076;
    display: grid;
    grid-template-columns: 1fr 285px;
    position: relative;
}

.wrapperSlider_sideString {
    position: absolute;
    transform: rotate(270deg);
    bottom: 100px;
    left: -135px;
    font-weight: 500;
    font-size: 13px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sales_slider {
    height: 100%;
}

.slider_img {
    background: url("./img/bgs/bottles/2bottle.png") no-repeat right;
}

.slider_info {
    padding: 50px 50px 72px 62px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.sliderInfo_pageCounter {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EDECF7;
    border-radius: 50%;
    width: 62px;
    height: 62px;
}

.sliderInfo_header {
    font-weight: 300;
    font-size: 30px;
    line-height: 39px;
    display: flex;
    align-items: center;
    color: #4C5072;
}

.sliderInfo_body {
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #888794;
}

.sales_products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 270px;
    align-items: end;
    justify-items: center;
}

.prod {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: fit-content;
    background: #F7F7FA;
}

.prod1 {
    font-size: 36px;
    line-height: 49px;
    color: #515076;
}
.prod2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 49px;
    color: #515076;
}
.prod3 {
    font-weight: 600;
    font-size: 36px;
    line-height: 49px;
    color: #515076;
}

.sale1 {
    padding: 25px 0;
    background: rgba(81, 80, 118, 0.1);
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
}

.sale2 {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    background: rgba(81, 80, 118, 0.15)
}

.sale3 {
    display: flex;
    width: 350px;
    align-items: center;
    justify-content: center;
    background: rgba(81, 80, 118, 0.2);
    padding: 75px 0;
}

.prod_description {
    padding: 40px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #515076;
}

.prod_payment {
    width: 270px;
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: rgb(81, 80, 118);
}

.price_prev {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: rgba(81, 80, 118, 0.6);
    text-decoration: line-through;
}

.sale2_imgs {
    width: 330px;
    height: 360px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.sale2_b1 {
    position: relative;
    left: 100px;
    z-index: 2;
}

.sale2_b2 {
    position: relative;
    right: 115px;
    bottom: 15px;
    z-index: 1;
}

.sale3_imgs {
    padding-top: 100px;
    width: 330px;
    height: 360px;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sale3_b1 {
    position: relative;
    top: 20px;
    left: 280px;
    z-index: 3;

}

.sale3_b2 {
    position: relative;
    left: 30px;
    bottom: 15px;
    z-index: 1;
}

.sale3_b3 {
    position: relative;
    right: 395px;
    bottom: 30px;
    z-index: 2;
}


.content_about {
    width: 100%;
    background: #EDECF6;
    margin-top: 300px;
    height: 100vh;
}
.about_header {
    font-family: Playfair Display, sans-serif;
    position: relative;
    bottom: 200px;
    font-size: 330px;
    line-height: 92.4%;
    display: flex;
    align-items: center;
    color: #D6D4E7;
}
.about_wrapper {
    display: flex;
    flex-direction: row;
    margin-top: -100px;
}

.wrapper_imgs {

}

.img_woman {
    position: relative;
    z-index: 1;
}
.img_blur {
    position: relative;
    bottom: 300px;
    right: 100px;
    z-index: 2;

}
.img_ellipse {
    position: relative;
    bottom: 1000px;
    z-index: 0;
}
.img_berries {
    position: relative;
    bottom: 1000px;
    left: 50px;
    z-index: 3;
}

.about_infoBlock {
    position: relative;
    top: 150px;
}

.infoBlock_subheader {
    font-weight: 500;
    font-size: 16px;
    line-height: 179.99%;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #A5A3B9;
    width: 343px;
}
.infoBlock_header {
    font-weight: 300;
    font-size: 120px;
    line-height: 109.4%;
    display: flex;
    align-items: center;
    width: 623px;
    color: #515076;
}
.infoBlock_info {

}